@model TOTP_BugTracker.Models.Project
@using TOTP_BugTracker.Enums;
@using TOTP_BugTracker.Services.Interfaces;
@inject IImageService _ImageService;
@using TOTP_BugTracker.Models.ViewModels;

@{
    ViewData["Title"] = "Edit";

    AssignPMViewModel viewModel = new();

}

<h1>Edit</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" enctype="multipart/form-data">
            @*id
            companyId
            created
            imageFileData
            ImageFileType
            Archived*@



            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CompanyId" />
            <input type="hidden" asp-for="Created" />
            <input type="hidden" asp-for="ImageData" />
            <input type="hidden" asp-for="ImageType" />
            <input type="hidden" asp-for="Archived" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectPriorityId" class="control-label"></label>
                <select asp-for="ProjectPriorityId" class="form-control" asp-items="ViewBag.ProjectPriorityId"></select>
                <span asp-validation-for="ProjectPriorityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFormFile" class="control-label">Project Image</label>
                <input type="file" asp-for="ImageFormFile" class="form-control" accept=".png,.jpg,.jpeg,.gif" onchange="document.getElementById('imageData').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="ImageFormFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img id="imageData" class="img-fluid img-thumbnail" style="width:100px;height:80px" src="@_ImageService.ConvertByteArrayToFile(Model.ImageData!,Model.ImageType!,(int)DefaultImage.Project)" />
            </div>
            <div class="form-group">
                @if (User.IsInRole("Admin"))
                {
                    <form method="post" asp-action="AssignProjectManager" asp-controller="Projects">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="@Model.Id" />
                        <h2>@viewModel.Project?.Name </h2>
                        <p>@viewModel.Project?.Description </p>
                        <div class="form-group">
                            <label class="control-label">Select Project Manager</label>
                            <select asp-for="@viewModel.PMID" class="form-control" asp-items="@viewModel.PMList">
                                <option></option>
                            </select>
                            <span asp-validation-for="@viewModel.PMID" class="text-danger"></span>
                        </div>
                        <input type="submit" value="Assign" class="btn btn-primary" />
                    </form>
                }

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
